* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff0f6;
  font-family: "Protest Riot", sans-serif;
}

.container {
  height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cat-img {
  width: 30rem;
  height: 30rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 3.6rem;
  color: #f53699;
  text-align: center;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn {
  display: inline-block;
  /* padding: 1.5rem 2.5rem; */
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 4px;

  color: white;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  max-width: 100cvw;
}

.btn--yes {
  background-color: #40c057;
}

.btn--no {
  padding: 10px 15px;
  background-color: #f03e3e;
  max-width: 200px; /* Optional: Set a max width for the button */
  min-width: 100px; /* Ensure */
  min-height: 50px;
  height: auto;
  white-space: normal; /* Allow wrapping */
  word-wrap: break-word; /* Ensure long words break properly */
  text-align: center; /* Center-align text within the button */
}

.hidden {
  display: none;
}

.form {
  margin-top: 100px;
  padding: 50px;
  text-align: center;
}

.form .name {
  font-size: 25px;
}
.form .username {
  padding: 12px 55px;
  margin: 25px;
  text-align: center;
  font-size: 15px;
}
.form input[type=button] {
  padding: 20px 35px; 
  font-size: 15px;
  font-weight: 900;
}

.form .error {
  font-size: 23px;
  color: red;
  padding: 25px;
}